{{> head }}

    {{> navbar  }}

    <div class="row">
        <div class="col-8">
            <h1>Página About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique id leo in eleifend. Vivamus laoreet lorem vel neque lacinia blandit. Sed rutrum mi quis lorem tempus finibus et suscipit dui. Phasellus feugiat dolor eget condimentum interdum. Etiam cursus gravida arcu in accumsan. Vestibulum pharetra turpis erat, in sollicitudin nunc luctus ac. Quisque dolor purus, laoreet in scelerisque quis, pellentesque ut eros. Cras mi nulla, consequat at placerat sed, dignissim in nisi. Morbi est est, tempor nec sapien a, posuere tempus lorem. Mauris feugiat purus at felis aliquam, at consectetur nisl dapibus. Sed vitae congue sapien.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/IMG_20171013_125709.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer}}